#board {
  display: flex;
  background-image: url("https://image.freepik.com/free-photo/green-grass-textures_74190-5443.jpg");
  background-size: 60pc;
  flex-direction: column;
  position: relative;
  width: 550px;
  height: 550px;
}

.row {
  height: 25px;
}

.elem {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.hidden {
  display: none;
}

#screen {
  position: absolute;
  top: 184px;
  left: 166.5px;
  background-color: hsl(113, 63%, 47%);
  width: auto;
  height: auto;
  padding: 10px;
  border: 10px;
  border-radius: 20px;
  border-color: black;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: xx-large;
  line-height: 20%;
  color: w;
}

.apple {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAACKklEQVRYhe2YMU/bQBTH/25JhbrYDIwII+SZILp0ilkSMgGfAPINInWP+AiBLwD5AKhsljzB2qVEYiIgLMGCYLhMlQqVqysPYUzsO/vuRFTlLznDvcu7X967e/ccK45jjLM+jDXdBFCDjAJ2GvZRp2FXVXwYA+w0bB/AOoCfnYa9kbY7oVt1QtcR+ZkyBcgZ3gyE7jYAnx4uYXRNAj4vPtz7NoO90I0AzCfsq6weMZETk4Au/7if/XgG4HvKtsvq0bGME5OH5B/gj6/Ty6nxPqtHbVknShEcNB0O8byvaklbBcCvihVfeJ8+J4Z3AewUWaMUIIHxhbay5jwAuFqsWLXLB6zcPOLL9eOhd/en6wVMuO+SKnwXD5oOLxkHAOysObcxEMYxfMvCnPXKNATQ9gJ2YARw0HR4OvdF834DuI6BRStzSksWUhqQIpc+jSra9AJ2pAWQ9txpXlpLiKe76gUsyvuqbJnZ0QwH8ic80cIIUvSudJKltJAXRZkIbpsiI+UWbRlAX2KOinL9ywDWJOaoaEkV8F01FoCDppOZ5rEA9AKW2Xr9Fyk+MczQzzPKAJ7qYxmp3M5aBrBrjk3sXwhI11BPK9KLejqbhaFGMJA/YbMgBUi/Uved3BZFD0XKDDWXLWWsJ0l31IXqIDltKaR7WAQOZQo1Oa+WODg96qCl4VDmrS4pambb1DKN6kr6VOe6MvttpDigzud8zfZ1+pv8R62qCaCSAPwF+ckaGyeX8ZQAAAAASUVORK5CYII=");
  background-size: cover;
}

.bodyBottomLeft {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABcklEQVRYhe2YvW3DMBCFn1yoZTaQN0hGSDZwHwFxJrB7C4gLDaARVGgAb5CM4Gxgb6CUUSPjADqwHMoWTVJ3hR+gRpSID8f740Vt20KyJqLp7oAeJB4wel39nkfJN4AawBeALT1VHu+Y+IyAJu0BbACUVR5vJQKeimBLAEWVx3VYvNsAj/rRVl2HdAEXwKMItAhlUR9RrAB8UDClWfPsYb+OfKaZBMBnmjVFmjUPvjYNkQcXlKLSrJn62CxUon7UR/7kulHISqK0JZ0gQ5c6Z8gxarET5FjNgro1cMbsZghyY5uCxm63KLrXNj9w9IMLm4rD1bCWQ4+aC5DK4nLIh5wt/3JIVHMCqiEBw31pml3zRW5Adc0XJVw755cWJQAml+q0lIt7rxWlAM76FqQAJn05UdJsxuiHd0ALGTscAnwB8K5nLpwyVpS/GbUuOTTCeOOCrPI4On83OVmsddnhtmRHHR/UkFYteWiZgoRtmvpPAA4boWYDfZ6ZSgAAAABJRU5ErkJggg==");
  background-size: cover;
}

.bodyBottomRight {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABZklEQVRYhe2YwW3CMBSG/1aIa9mgbFBGYAQGyIENmgFyyIFBWokB2KAdgRFgg55zSWXph1pRHTux/Z4r9ZNyQVHy6X/PzyYPfd+jZB6LtvsXTEDxggvNl1dNtwaw4bUFsALwYt8jLlg1nZHZA9gBePbdLyJYNZ1JpqaYV8omqyBL2DKtpznPyCJoJVbPFbuRXLBqOtPsb1NL6SKZIFMz5XxN9UykEmSvnYYjIgXRghwbn7G95iJqJ8kthxhBLoascoZZ50GJ5G5MFuSCOEvIYWqJOUpOUnKY0YNtjlEyRnCJuSg+JOUQKsjSnlNtX1MILXGtIYeQBKVX7ZCQBFstOfgSZO9dNAV9CUYfOGPxCe415TAmyP1WZeXajCWonh48gjtBDye/CnL2qZcXIwluhD2c/FnBrbCHE9e/upWy15Vb7MUlKHooHfB+PCzvI660D5hXbq93ShNsj4fll/1DaYLm5PQDgG+9QVmJTDULBQAAAABJRU5ErkJggg==");
  background-size: cover;
}

.bodyHorizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAAAV0lEQVRYhe3YsQ0AIAzEwIQ1GYXJqcIQpvjCnuCkKM33zFRyK1on8EPxwN7nRn+JJ6YJpAmkCaQJpAmkCaQJpAmkCaQJpAmkCaQJpOWvW07AMIG0bGBVPTFhCRYX/17UAAAAAElFTkSuQmCC");
  background-size: cover;
}

.bodyTopLeft {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABWUlEQVRYhe2YwY3CMBBFPwjlvB2QErYEStgCOGwhHFgpBUAHHFIAHSwlkA7WHSxXLkGWxhIJY+JgOzMH3tE55Mkz4/F41rYt7llvrisAvxCgropZ/69zRqOUkPPREVxvrh8AtioFSW4HYCmr1GVBOVfSzknKNaygVEEw/HOLXJFIcdIueOYW34KBmLoq/jQLHn0ftAgefB80CNrwsvkHJYLe3YMCwQu1Vy/Sgse6KtgO4pAUvITcnCQFd76z7x4pQTOUew4pwe+h3HNICO7rqmBvLhxTCzZjR4opBW3VfoWG1jGVoJVbhVRtnykEnZy33z4jt2CUHDILRssho6Ct1s9YOWQS3L9aEByLhGKGOkTwIRxCih20ufZDIU0qh8gdtGJ22NmmCifHK4KGrun2ujSqK+QUNDQaHlJU5hg4wYYeck407Z9zhnCIhydgbWh6m2F5C8aiWxDADapDXnp3DJcHAAAAAElFTkSuQmCC");
  background-size: cover;
}

.bodyTopRight {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABf0lEQVRYhe2YsW3DMBBFL0GgNt7A3iAawdnAA7DICBmAhQNoAGWCpNAAGcEjKBsoGzgtGxkMvhFCIiVKoo4s/AA3hAA/HHnHO961bUtdhFT9RR6eqyI7mf90H0nExa67nprgUUi1MRdSE9wSUWlKus5gTURP3HYGPzqaRNQ8OD44R9H6R0fygwa2+ORYZ8clWN8EPbEKVkXW4KCmKQi+WE0cDAl+RjUD1jp4RUjVIOWjMXaTRI/imGBJRL9MLlYGBasiO8dOFp9m4RgziqOCqIklj04f33arjFW4vQRxFl/W1+nj3bBiVnhndPtjaketE+Z7JRcrgzeJDSHVDt3OI4fg5JkEWb3nKj2zhqaqyGouydlTHZfkorGTQ3LxXAzJfK3sDjK4G4kTvE5OLjNjCKn26CODNLrBnz5w4+gtfwtxNoNH0ARFXd8+h7mFfVXBK3gMekXDMWnrWQRNhFQ5RA8+suyCJjgCOX46uTbdV7Wogj6k9oDZ4ya4lLQFiegCysRwS0pUV98AAAAASUVORK5CYII=");
  background-size: cover;
}

.bodyVertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAAAXUlEQVRYhe3OoRGAQAwF0QRxVV4pSEqhSkzO5xSzM2D2yW/+ZlVFN89nHz9wXyP7y/FHyBsGUgZSBlIGUgZSBlIGUgZSBlIGUgZSBlIGUgZSBlIGUgZSBlIGIhGxAPBcB01hPuJvAAAAAElFTkSuQmCC");
  background-size: cover;
}

.headDown {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAACWklEQVRYhe2YP0/bQBiHf4HowHQgqKoKUqV0zYbowkY+QrsWfwAGBjLjoYM700gMXbp5h7EjLIgFVKasRKpEKoaAWtXEonX1mjtzjXPmcraxkPJIGe5P3veJc3fvJZUwDDGM7QTJzkfAc1llOMtUGSLjMBHMytMTtJ1gqxyV0bnjXWw7QR3AMYDFMuQkegBWPZd1Y0Eu1wFglSwn8AE0SLLKO45lOWsGWFv5i3fNP1F772Aah6dT8Af5ZNeIb3Gnpcr69oC+9x0x8mIhhLtxOzKw87mKy37iLB2LMeO3aJNsyp9M9WaCxmiOKQbxN0mwLlr02B9CZ44Kg/h1EhTrMF4TaejMUWEQv1pVTfz45RKd87tV+6ZhofX+ubFYlvj0BONFQbuJ+Hr0K34zcdLxoz55jgkG8W9JsCtatNWJ3zfJtdLtBf/NMcEgfpdau6JF5xBt9bnZpER9kUVjWc5Cg/i7opJcyCXOmgkxy67x/Uc/ar96uYCboJbjQa0Vv+e5bElsklW51PmDCvxBDc/matFg/2c+YgKN+D53urvN8MLc4IW6bHqiDkO+zQj4lWenJMmW57JPcsfkR1NWJoJZmQhmRSV4XYLLyJwqwW/FuujnVAnuF+uin/NpCnouO6erWeFK9xzynAnSdvFj/gWizKUU9FxGi7ZdmNI9bZ5rJA+dgx8AnBUod8ZzKEkV9Fx2BaBZkCTFbPIcZoIoTlJLDrqlTpLMY022deWgurCmYTvBMgC69a6NKUbH1lbahshFUGA7wWsAb/mLpOeHplBtJRk6gPdV51wqAP4Bq4oVsts6YbQAAAAASUVORK5CYII=");
  background-size: cover;
}

.headLeft {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAACeUlEQVRYhe2ZP2/TQBiHfwnBxQhESlUBE6xZoJQlQpXaMWxlBX8ABiTSGQ8MnqFIDHwAz9CxU5VKqO1S/i0doRISRR1iECLUSmP0lnM4p2ffOTm3V4lHymD7nHt8vntz75tSFEUoCscNmwAeArgKoMK66QLYBvDC96xFWdeFCDpuSEIbAC5Lmu4AqPuetX1kgkxuC4CteEsHQC1NsiI6OSIbvJw9BsxO93B3bv/g+HXrFFbfltHZ63dis3uuiLrVOoJszj2LjyfHI3gPusK27ssKdtsl/tSCaE4qCTpueA3APPtMAbggu8cei9CoB/j1u4ezZ8po3D53qE3z6Wl+JIVkCjpuSDL0VLPSpxhg/HyAL9/a/ZO3ajYW7k0kGtHrXl4vZ36PcA46blgF8ATAo7xiMbwcsbnVwW7QxWT1X5c0L3MLMrkWgBvDyqXBy6mS0Ncpd2kiOU3pFQ9Cr1hG/5F0j9x+7yKcO6XMRULhRlmQzTltr5VW55uP1cwwI1vBiFcxW63vdMnxKARqJcHWMKHkKCjdf7xHQfiTiXJgq3jeAI9UToTglAEeqZRVfviPE3mk/C+YzYkQ/G6ARyok+N5QtwNIcMkAj1TMF/Q96zNtzQxwERLvB5tGb7fwd0e9OEqSJCJnXiyEj4O0o/6gS47y4pnrAV6t/MDy2s9D10mcRldGIi/WmZfoyosTV33PCgDM6RjJtLyYJ56XyoIDks9HlRxk5Lw4hiR9z6KVfXPYEKQrLy6weAQ06u1ii0d5ObbyWx4cN/zKl34VA/WO71nCAmYRFdY6XwImEQolGeGkw+4Ron3DymrNNVYgl0FtUuvThNl/QwD4AwphHynh/q+DAAAAAElFTkSuQmCC");
  background-size: cover;
}

.headRight {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAACUUlEQVRYhe2Zv2/TQBSAv4TIJQhBMyBAQgLGLPyaCkJqxNQRWMkfwIBEYMUDg/emEgPsFiN0zNggBFkogaUrlZAoQihUoJqE0qAXOcGxHN/VuSYe8klWdI59/vLsO997yXS7XVSU7U4FuAecBXL+4bvAJvDEdayqspOExAqW7Y4INYBTiu63gAXXsTYnJujLbQB5zb48oGhaMhfzXSMol5+DxSt73Cr97bVfrh2ivp7Faw+Oz/vnnDYpGBlB/5lb7rdPFLo4d3cjO7Cf5vjWygR3PTD5TGbuPGrHjhKJXPXhn6F9O7/3eLW+0/s8cjhLrVEIRjKObaAJrMrmOtansQWXrv6/rX2Wn3/n3YY3aJ85WaD1c17LMEQdqLiO1Rx1QFbVQ1hOCMoJn7+2ksgJi8D7st2plu1O5C9UCk6I+8BalKRSUEZrmOK5uaE9cosNcDFKMtEgEWpvfiUZJDp8AEquY/1AJ4JyYZlKwixdO8rtG8d4/XHepBx+JB/3G8oI9tGYqE1zWUZ33JtkCBGpvc32tgkhk31JO4JT4nxapplR3JwJjsmltAseT7tgat7FI5kJjsl22gWbaRdcnQmOQV2SKu3VzBSWW5L66q0H95kXm2DFdayeoDKCErmwXDAvvn7hQJb8gxW1UlBua5hnL1qhvDiD106UF0fJDfIRUpAXx8ppCU6IlSg5LcEDzovrfnJUiZJjCnnx/otHqS+/xVRYvwRLv5oT9ZbrWEYLmHHTzEKwBKyRF3v+OUYZeTW/1lz0C+Qq5Bjj9Wkh3X9DAP8AE6su5f4dqmsAAAAASUVORK5CYII=");
  background-size: cover;
}

.headUp {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAACYklEQVRYhe2YPU/bQBjH/3mRSxBSiSoEkSqFjpnCy1J14G3qmFadkD8AAxJhrTxk8A5IDHwAz20/QRUmmHhbWJBopqYDFUEqBCuQ6nHvUsexY/suxq2Uv2QlFz/3f34+393jONFutyEiVTOnAZTYMQPgucOmAeAEwBc6DF35JpInNKCqmQSzDWAxZK59AGVDV04iAVQ1cxxABcBGSDCndsjH0JXrgQEyuCqAoiQc1ymApSCQyRjgwLyqzLuv+gJGBBcK0m8EKxHBcRVZDk95zkG2Wo8jhLNr1mt19xvB7cixAuRyHUG2CV9GTeXQK7fN3GsES09J1i/nfws4Ey1L8JxegM7C/xRyzelbSeLWEFBWQ0BZ9QCqmlmOC8Ytd6fUqZqZB3AIYCoOOJvqAF4bulLrADK4cwCZmOG47gAUCDLNfji0w2WeAankT/y4aljtl5NZNM1x3N0PJnsA/wxjyqUuWh/pvn/gZyaybazMX+PgrNGJvvnVxPtl4OpmBLfNhBRcCP+xT18fGrRI1u1Xpq+1cNt87DGu1U3rHMWISsB/nQDzvLU496fj6Ejv7pOfUrpiRCTgn6dIPg/xbunB+lyYG8V84e96oe9v34x1xYhIwD+ddstDV7i5+kIYxE9h/GkEW7zxuZry7RAkRqavI6ZFgDXe2j/yr3xBYmT6OmJq1NrlLdqHtD3Xu26JzsnshQL+u7ySfLeXOFrqtJr4hKVhpysb5EYdwL9u6Eruny911g1nhbnACnXcqnM4uP1xZ488WzFBbhq60vWWwevNgth7YUkZutJT6IeP/LIaAkoJwG/mlAbwfxLuDwAAAABJRU5ErkJggg==");
  background-size: cover;
}

.tailDown {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABA0lEQVRYhe3YwQ2CMBTG8Q8PvbqCI7iBjOAADOEAHDx0ANmhA7ACG8gGjiBXLpgmNRigtfh4EJP3T7wY4/c7QDEmXddhWJa34zdXyGiVDFd2W0DmJEBqAqQmQGoCpCZAagKkJkBqAqQmQGoCpCZAaj5gs4FlctMHvPNa4jd9wJLXEr/5n0Cj1QNAxU7qq9zmqNBdfFkR6N3yAo1W9qIt2Eh9hdua7Ns5eAVQM+Jqt+EtCDRaPQGkTEj7nanb+A0IPmQUDrGPug/kEtdkEYuzTf4FHCrL2yOAG4DTTJg9ti6hG2IR4Lssbw8Azu5l0fvBRxr3+LIHcOk759iAayW/B0kBeAGy8kVbeQjBGQAAAABJRU5ErkJggg==");
  background-size: cover;
}

.tailLeft {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABGUlEQVRYhe3YwQ2CMBTG8U9juOoIbiAb6AgOwA46AAcODIA7MIAj6ATqBDqCXrlgwJrUB60gwnsk/BOOJL80lDZvlKYpJDcWrRuAf0g8cFL3Bc9P5gDW6nEBTNuhvaoM9Pwkw0QAlm2CaF+Bnp/MAAQANl3C3lmBCncAsOhUpWXcJBJwMAGl4GBZwUACLqtwFqvdemITkcpWMGIVkT5WUP2Er0JseXQF10wOY70DukwOYxTY6sH/S8N9sGm9Az6YHMYo8CzIlkeBeyaHsX4B49C5ATjycYqV7eItN0qvAIxDJ9soO1aVlu1GfWERkUqBcejcAawkII0niRSk9ajTkGzfZOUBJtfoo/aEtevh0TACbtoAbJpsIIAns+tEFlf13b4AAAAASUVORK5CYII=");
  background-size: cover;
}

.tailRight {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABBElEQVRYhe3YwQ2CMBgF4IcxXHUEN9ANcATvsgPc5eCBAWAHBmAEmUDdwBHkaC+YXkxpCAhV+g59CYf+LcmXQEup1zQNmLOg1jngD0IP9I6n179nSQ3gBqCUV5H6jzE3zwHUUwGIi9S/fTPYxiMOAFzDRGRhItZDg22+gxGAyxDS9iTZDiEZZnEvkmWZkchzVwfTOhiFidjpRbaFOtMLbMAgTMRGLTB+6g5qwwEnpDVRGIErteH2g6ZxwAmp2YGtjSwjsFQbDjgylf5TxQaM9QITMO/602MB3pl31BK3L1L/2dVpG9iLg2VgPoSTWc7n+WTU0cccQLPDI3cEbBgHNA03EMAbk15E9YdInl4AAAAASUVORK5CYII=");
  background-size: cover;
}

.tailUp {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsSAAALEgHS3X78AAABCElEQVRYhe3WwQ2CQBBA0a8xXLUErUCtQEugAHrQAjh4oADtgQIsQStQK9AS9MoFQ7ImhrAIjEsgmZ9wk52XDQsO0jSlyw07resDcNT0xiBMpoBvrgUwzv3kBVyBY3bFkfdoMqf2MxiESYbZA6uas87ANo68qxNgECYTYAdsasLyHbJ14sh7/g1ocCdgLsR9ugHrKsifh8QBDrPWyaxdWinQEa4W8tcO7hzhPs3NDGvWZ9Cc1otD3HdL2+ku28G9c1aFWYU7aF7Cd9eqXLOil7ltB/02ZWUzewtcuLVUn2kD5j/8bVQ4U/8PSlOgNAVKU6A0BUpToDQFSlOgNAVKU6A0BUrrNhB4A5xPRbtIjGN5AAAAAElFTkSuQmCC");
  background-size: cover;
}
